/* TABLET*/
@media (max-width: 992px) {
  .menu-label {
    display: flex;
    order: 2;
  }

  .menu-label img {
    width: 25px;
    height: 25px;
  }

  .navbar-list {
    position: absolute;
    top: 65px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #13263b;
    width: 30%;
    height: calc(100vh - 65px);
    padding: 1rem 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 2) ;
    display: none;
  }

  #menu-toggle:checked ~ .navbar-list{
    display: flex;
  }
  .hero-info {
    text-align: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .hero-info h1 {
    background: linear-gradient(#210279c0, var(--background));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: 35rem;
    min-width: unset;
  }

  .hero-info .hero-text {
    line-height: 30px;
  }
  .hero-img {
    display: none;
  }

  #about {
    padding: 2rem 3rem;
  }

  .about-info h2 {
    font-size: x-large;
  }

  .about-info p {
    line-height: 30px;
  }
  #cards {
    margin: 0 0.5rem;
  }
}

@media (max-width: 590px) {
  #hero {
    padding: 2rem;
  }

  .hero-info .hero-text {
    text-align: center;
    align-items: center;
  }

  #about {
    padding: 2rem 1rem;

    align-items: center;
    justify-content: center;
  }

  #cards p {
    text-align: center;
  }
}
