/* TABLET*/
@media (max-width: 992px) {
  .hero-info {
    text-align: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .hero-info h1 {
    background: linear-gradient(#210279c0, var(--background));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: 35rem;
    min-width: unset;
  }

  .hero-info .hero-text {
    line-height: 30px;
  }
  .hero-img {
    display: none;
  }

  #about {
    padding: 2rem 3rem;
  }

  .about-info h2 {
    font-size: x-large;
  }

  .about-info p {
    line-height: 30px;
  }
  #cards {
    margin: 0 0.5rem;
  }
}

@media (max-width: 590px) {
  #hero {
    padding: 2rem;
  }

  .hero-info .hero-text {
    text-align: center;
    align-items: center;
  }

  #about {
    padding: 2rem 1rem;

    align-items: center;
    justify-content: center;
  }

  #cards p {
    text-align: center;
  }

  
}
